USE [master]
GO
/****** Object:  Database [ProductsApiDB]    Script Date: 13/09/2025 16:04:48 ******/
CREATE DATABASE [ProductsApiDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProductsApiDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ProductsApiDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProductsApiDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\ProductsApiDB_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProductsApiDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProductsApiDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 13/09/2025 16:04:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 13/09/2025 16:04:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Descripcion] [nvarchar](500) NULL,
	[Precio] [decimal](18, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 13/09/2025 16:04:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250908024414_InitialCreate', N'9.0.8')
GO
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([Id], [Nombre], [Descripcion], [Precio], [Stock], [FechaCreacion], [Activo]) VALUES (1, N'Laptop Dell XPS 13', N'Ultrabook de alto rendimiento', CAST(1299.99 AS Decimal(18, 2)), 10, CAST(N'2025-09-13T13:54:04.1333333' AS DateTime2), 1)
INSERT [dbo].[Productos] ([Id], [Nombre], [Descripcion], [Precio], [Stock], [FechaCreacion], [Activo]) VALUES (2, N'Mouse Logitech MX Master 3', N'Mouse ergonómico inalámbrico', CAST(99.99 AS Decimal(18, 2)), 25, CAST(N'2025-09-13T13:54:04.1333333' AS DateTime2), 1)
INSERT [dbo].[Productos] ([Id], [Nombre], [Descripcion], [Precio], [Stock], [FechaCreacion], [Activo]) VALUES (3, N'Teclado Mecánico Keychron K2', N'Teclado mecánico RGB bluetooth', CAST(89.99 AS Decimal(18, 2)), 15, CAST(N'2025-09-13T13:54:04.1333333' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Productos] OFF
GO
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [Stock], [Category], [CreatedAt], [UpdatedAt], [IsActive]) VALUES (1, N'Laptop HP Pavilion', N'Laptop para trabajo y entretenimiento con procesador Intel Core i5', CAST(899.99 AS Decimal(18, 2)), 15, N'Electronics', CAST(N'2025-09-08T02:49:04.0200000' AS DateTime2), CAST(N'2025-09-08T02:49:04.0200000' AS DateTime2), 1)
INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [Stock], [Category], [CreatedAt], [UpdatedAt], [IsActive]) VALUES (2, N'Mouse Logitech MX Master', N'Mouse inalámbrico ergonómico para productividad', CAST(99.99 AS Decimal(18, 2)), 25, N'Electronics', CAST(N'2025-09-08T02:49:04.0200000' AS DateTime2), CAST(N'2025-09-08T02:49:04.0200000' AS DateTime2), 1)
INSERT [dbo].[Products] ([Id], [Name], [Description], [Price], [Stock], [Category], [CreatedAt], [UpdatedAt], [IsActive]) VALUES (3, N'Teclado Mecánico RGB', N'Teclado mecánico para gaming con iluminación RGB', CAST(129.99 AS Decimal(18, 2)), 12, N'Electronics', CAST(N'2025-09-08T02:49:04.0200000' AS DateTime2), CAST(N'2025-09-08T02:49:04.0200000' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Products] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Productos_Nombre]    Script Date: 13/09/2025 16:04:48 ******/
CREATE NONCLUSTERED INDEX [IX_Productos_Nombre] ON [dbo].[Productos]
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getutcdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (getutcdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Products] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
USE [master]
GO
